<smt-card class="w-80 bg-background">
  <smt-card-header>
    <h3 smtCardTitle>Join Whiteboard</h3>
    <p smtCardSubtitle>
      Enter a whiteboard token to seamlessly join an existing collaborative
      whiteboard session with others.
    </p>
  </smt-card-header>
  <smt-card-content>
    <form [formGroup]="joinWhiteboardForm" (ngSubmit)="onSubmit()">
      <div class="flex items-center w-full max-w-sm space-x-2">
        <input
          class="w-full"
          smtInput
          formControlName="whiteboardId"
          placeholder="ex. zpwVcONXq"
          type="text"
          [error]="
            (joinWhiteboardForm.controls.whiteboardId.invalid || hasError()) &&
            submitted()
          "
        />
        <button smtBtn [disabled]="isLoading()" type="submit">Join</button>
      </div>
    </form>
  </smt-card-content>
</smt-card>
