<section class="w-full bg-background" hlmCard>
  <div hlmCardHeader class="flex flex-row justify-between">
    <div>
      <h3 hlmCardTitle class="text-2xl">Rooms</h3>
      <p hlmCardDescription>
        List of rooms that you already joined to previously.
      </p>
    </div>
    <button hlmBtn>
      <hlm-icon class="mr-2 size-4" name="lucideRefreshCw" />
      <span>Refresh</span>
    </button>
  </div>
  <div class="p-6 pt-0 flex flex-col gap-4">
    <div class="flex flex-1 items-center gap-4">
      <hlm-icon class="mr-2 size-8 text-black" name="lucideBook" />
      <div class="flex flex-col">
        <span>Untitled</span>
        <small class="text-muted-foreground text-xs">4 hours ago</small>
      </div>
      <div hlmBadge variant="secondary">42dz541e</div>
      <button hlmBtn size="icon" class="ml-auto" variant="ghost">
        <hlm-icon class="size-5" name="lucideEllipsis" />
      </button>
    </div>

    <brn-separator hlmSeparator />

    <div class="flex flex-1 items-center gap-4">
      <hlm-icon class="mr-2 size-8 text-black" name="lucideBook" />
      <div class="flex flex-col">
        <span>Untitled</span>
        <small class="text-muted-foreground text-xs">4 hours ago</small>
      </div>
      <div hlmBadge variant="secondary">42dz541e</div>
      <button hlmBtn size="icon" class="ml-auto" variant="ghost">
        <hlm-icon class="size-5" name="lucideEllipsis" />
      </button>
    </div>
  </div>
</section>
