<section class="w-full bg-background" hlmCard>
  <div hlmCardHeader class="flex flex-row justify-between">
    <div>
      <h3 hlmCardTitle class="text-2xl">Rooms</h3>
      <p hlmCardDescription>
        Manage and revisit your ongoing collaborative whiteboard sessions for
        continued teamwork and productivity.
      </p>
    </div>
    <button smtBtn class="flex gap-2">
      <ng-icon size="16" name="lucideRefreshCw" />
      <span>Refresh</span>
    </button>
  </div>
  <div class="p-6 pt-0 flex flex-col gap-4">
    <div class="flex flex-1 items-center gap-4">
      <ng-icon class="mr-2 text-black" size="32" name="lucideBook" />
      <div class="flex flex-col">
        <span>Untitled</span>
        <small class="text-muted-foreground text-xs">4 hours ago</small>
      </div>
      <div hlmBadge variant="secondary">42dz541e</div>
      <button smtBtn size="icon" class="ml-auto" variant="ghost">
        <ng-icon size="20" name="lucideEllipsis" />
      </button>
    </div>

    <brn-separator hlmSeparator />

    <div class="flex flex-1 items-center gap-4">
      <ng-icon class="mr-2 text-black" size="32" name="lucideBook" />
      <div class="flex flex-col">
        <span>Untitled</span>
        <small class="text-muted-foreground text-xs">4 hours ago</small>
      </div>
      <div hlmBadge variant="secondary">42dz541e</div>
      <button smtBtn size="icon" class="ml-auto" variant="ghost">
        <ng-icon size="20" name="lucideEllipsis" />
      </button>
    </div>
  </div>
</section>
