<smt-card class="w-full bg-background">
  <smt-card-header class="flex flex-row justify-between">
    <div>
      <h3 smtCardTitle class="text-2xl">Rooms</h3>
      <p smtCardSubtitle>
        Manage and revisit your ongoing collaborative whiteboard sessions for
        continued teamwork and productivity.
      </p>
    </div>
    <button
      smtBtn
      class="flex gap-2"
      [disabled]="isRefreshing() || isLoading()"
      (click)="refreshRooms()"
    >
      <ng-icon
        size="16"
        name="lucideRefreshCw"
        [ngClass]="{ 'animate-spin': isRefreshing() }"
      />
      <span>Refresh</span>
    </button>
  </smt-card-header>
  <smt-card-content class="p-6 pt-0 flex flex-col gap-4">
    @if (isLoading()) {
      <div class="flex justify-center items-center w-full p-20">
        <ng-icon name="lucideLoader" class="animate-spin mr-2" size="21" />
      </div>
    } @else {
      @for (room of rooms(); track room._id) {
        <div class="flex flex-1 items-center gap-4">
          <ng-icon class="mr-2 text-black" size="32" name="lucideBook" />
          <div class="flex flex-col">
            <span>{{ room.name }}</span>
            <small class="text-muted-foreground text-xs">
              {{ room.createdAt | relativeTime }}
            </small>
          </div>
          <div smtBadge variant="secondary" class="flex gap-2">
            {{ room._id | shortenId }}
            <button
              smtBtn
              variant="ghost"
              class="p-0 h-auto"
              (click)="copyToClipboard(room._id)"
            >
              <ng-icon class="text-black" size="12" name="lucideCopy" />
            </button>
          </div>
          <button smtBtn size="icon" class="ml-auto" variant="ghost">
            <ng-icon size="20" name="lucideEllipsis" />
          </button>
        </div>

        @if (!$last) {
          <smt-separator />
        }
      }
    }
  </smt-card-content>
</smt-card>
