<div class="flex justify-center items-center w-screen h-screen">
  <div class="flex flex-col gap-4 items-center">
    <ng-icon name="lucideTriangleAlert" class="text-gray-300" size="96" />
    <h1 class="text-2xl font-black">NOT FOUND</h1>
    <span class="text-mg text-center text-gray-400 color max-w-[400px]">
      The page you are looking for might have been removed had its name changed
      or is temporarily unavailable.
    </span>
    <a smtBtn routerLink="/">Go to dashboard</a>
  </div>
</div>
