<section class="w-80 bg-background" hlmCard>
  <div hlmCardHeader>
    <h3 hlmCardTitle>Join Room</h3>
    <p hlmCardDescription>
      Enter a room code to seamlessly join an existing collaborative whiteboard
      session with others.
    </p>
  </div>
  <div hlmCardContent>
    <div class="flex items-center w-full max-w-sm space-x-2">
      <input
        class="w-full"
        hlmInput
        type="text"
        placeholder="Room identifier"
      />
      <button hlmBtn>Join</button>
    </div>
  </div>
</section>
