<smt-card class="w-80 bg-background">
  <smt-card-header>
    <h3 smtCardTitle>Join Room</h3>
    <p smtCardSubtitle>
      Enter a room code to seamlessly join an existing collaborative whiteboard
      session with others.
    </p>
  </smt-card-header>
  <smt-card-content>
    <form [formGroup]="joinRoomForm" (ngSubmit)="onSubmit()">
      <div class="flex items-center w-full max-w-sm space-x-2">
        <input
          class="w-full"
          smtInput
          formControlName="roomId"
          type="text"
          placeholder="Room identifier"
          [error]="
            (joinRoomForm.controls.roomId.invalid || hasError()) && submitted()
          "
        />
        <button smtBtn [disabled]="isLoading()" type="submit">Join</button>
      </div>
    </form>
  </smt-card-content>
</smt-card>
