<aside class="inset-y fixed left-0 z-20 flex h-full flex-col border-r">
  <div class="border-b p-2">
    <a hlmBtn routerLink="/" variant="outline" class="h-10 w-10 p-0">
      <hlm-icon name="lucideZap" class="size-5" />
    </a>
  </div>
  <nav class="grid gap-1 p-2">
    <hlm-tooltip>
      <a
        hlmTooltipTrigger
        aria-describedby="Playground"
        position="right"
        [hideDelay]="50"
        hlmBtn
        routerLink="/"
        variant="ghost"
        class="h-10 w-10 p-0 bg-muted"
      >
        <hlm-icon name="lucideTerminal" class="size-5" />
      </a>
      <span *brnTooltipContent>Playground</span>
    </hlm-tooltip>
    <hlm-tooltip>
      <a
        hlmTooltipTrigger
        aria-describedby="Overview"
        position="right"
        [hideDelay]="50"
        hlmBtn
        routerLink="/overview"
        variant="ghost"
        class="h-10 w-10 p-0"
      >
        <hlm-icon name="lucideBarChart" class="size-5" />
      </a>
      <span *brnTooltipContent>Overview</span>
    </hlm-tooltip>
  </nav>
  <nav class="mt-auto grid gap-1 p-2">
    <app-theme-switcher />
  </nav>
</aside>
