<aside class="inset-y fixed left-0 z-20 flex h-full flex-col border-r">
  <div class="border-b p-2">
    <a smtBtn routerLink="/" variant="outline" class="h-10 w-10 p-0">
      <ng-icon name="lucideZap" size="20" />
    </a>
  </div>
  <nav class="grid gap-1 p-2">
    <smt-tooltip position="right" label="Playground">
      <a
        smtBtn
        routerLink="/"
        routerLinkActive="bg-muted"
        [routerLinkActiveOptions]="{ exact: true }"
        variant="ghost"
        class="h-10 w-10 p-0 bg-muted"
      >
        <ng-icon name="lucideTerminal" size="20" />
      </a>
    </smt-tooltip>
    <smt-tooltip position="right" label="Overview">
      <a
        smtBtn
        routerLink="/overview"
        routerLinkActive="bg-muted"
        variant="ghost"
        class="h-10 w-10 p-0"
      >
        <ng-icon name="lucideBarChart" size="20" />
      </a>
    </smt-tooltip>
  </nav>
  <nav class="mt-auto flex flex-col items-center gap-1 p-2">
    <app-profile-menu />
    <smt-theme-switcher />
  </nav>
</aside>
