<smt-card class="w-80 bg-background">
  <smt-card-header>
    <h3 smtCardTitle>Create Room</h3>
    <p smtCardSubtitle>
      Instantly start a collaborative whiteboard session with others by
      generating a new room.
    </p>
  </smt-card-header>
  <smt-card-content>
    <button smtBtn class="w-full flex gap-2" (click)="createRoom()">
      @if (isLoading()) {
        <ng-icon name="lucideLoader" class="animate-spin" size="16" />
      } @else {
        <ng-icon name="lucideToyBrick" size="20" />
      }
      <span>Create room</span>
    </button>
  </smt-card-content>
</smt-card>
