<section class="w-80 bg-background" hlmCard>
  <div hlmCardHeader>
    <h3 hlmCardTitle>Create Room</h3>
    <p hlmCardDescription>
      List of rooms that you already joined to previously.
    </p>
  </div>
  <div hlmCardContent>
    <div class="flex items-center w-full max-w-sm space-x-2">
      <input class="w-full" hlmInput value="432d452z" type="text" />
      <button hlmBtn variant="secondary">
        <hlm-icon class="size-4" name="lucideRefreshCw" />
      </button>
      <button hlmBtn>Create</button>
    </div>
  </div>
</section>
