<smt-card
  class="bg-background overflow-hidden min-h-screen flex justify-center items-center"
>
  <div
    class="mx-auto w-full justify-center space-y-6 sm:max-w-sm rounded-md border p-4"
  >
    <div class="space-y-2 text-center">
      <h1 class="text-2xl font-semibold tracking-tight">Create an account</h1>
      <p class="text-muted-foreground text-sm">
        Enter your personal data to create your account
      </p>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4"
    >
      <smt-form-field>
        <label smtLabel for="firstname">First Name</label>
        <input
          smtInput
          formControlName="firstName"
          aria-label="First Name"
          placeholder="eg. John"
          id="firstname"
          class="w-full"
          [error]="hasErrors('firstName')"
        />
        <smt-input-error *ngIf="hasErrors('firstName')">
          <span *ngIf="hasError('firstName', 'required')">
            First Name is required.
          </span>
          <span *ngIf="hasError('firstName', 'minlength')">
            First Name must be at least 2 characters long.
          </span>
        </smt-input-error>
      </smt-form-field>
      <smt-form-field>
        <label smtLabel for="lastname">Last Name</label>
        <input
          smtInput
          formControlName="lastName"
          aria-label="Last Name"
          placeholder="eg. Francisco"
          id="lastname"
          class="w-full"
          [error]="hasErrors('lastName')"
        />
        <smt-input-error *ngIf="hasErrors('lastName')">
          <span *ngIf="hasError('lastName', 'required')">
            First Name is required.
          </span>
          <span *ngIf="hasError('lastName', 'minlength')">
            First Name must be at least 2 characters long.
          </span>
        </smt-input-error>
      </smt-form-field>
      <smt-form-field>
        <label smtLabel for="email">Email</label>
        <input
          smtInput
          formControlName="email"
          aria-label="email"
          placeholder="eg. johnfrans@gmail.com"
          type="email"
          id="email"
          class="w-full"
          [error]="hasErrors('email')"
        />
        <smt-input-error *ngIf="hasErrors('email')">
          <span *ngIf="hasError('email', 'required')">Email is required.</span>
          <span *ngIf="hasError('email', 'email')">
            Email must be a valid email address.
          </span>
        </smt-input-error>
      </smt-form-field>
      <smt-form-field>
        <label smtLabel for="passowrd">Password</label>
        <input
          smtInput
          formControlName="password"
          aria-label="password"
          placeholder="Enter your password"
          type="password"
          id="password"
          class="w-full"
          [error]="hasErrors('password')"
        />
        <smt-input-error *ngIf="hasErrors('password')">
          <span *ngIf="hasError('password', 'required')">
            Password is required.
          </span>
          <span *ngIf="hasError('password', 'minlength')">
            Password must be at least 6 characters long.
          </span>
        </smt-input-error>
      </smt-form-field>
      <smt-form-field>
        <label smtLabel for="confirm-password">Confirm Password</label>
        <input
          smtInput
          formControlName="confirmPassword"
          aria-label="Confirm Password"
          placeholder="Confirm your password"
          type="password"
          id="confirm-password"
          class="w-full"
          [error]="hasErrors('confirmPassword')"
        />
        <smt-input-error *ngIf="hasErrors('confirmPassword')">
          <span *ngIf="hasError('confirmPassword', 'required')">
            Confirm Password is required.
          </span>
          <span *ngIf="hasError('confirmPassword', 'minlength')">
            Confirm Password must be at least 6 characters long.
          </span>
          <span *ngIf="hasError('confirmPassword', 'mustMatch')">
            Passwords must match.
          </span>
        </smt-input-error>
      </smt-form-field>
      <button smtBtn [disabled]="isLoading()" type="submit">
        @if (isLoading()) {
          <ng-icon name="lucideLoader" class="animate-spin mr-2" size="16" />
        }
        Sign Up
      </button>
    </form>
    @if (error()) {
      <smt-alert variant="negative">
        <ng-icon smtAlertIcon name="lucideShieldAlert" size="16" />
        <h4 smtAlertTitle>{{ error() }}</h4>
      </smt-alert>
    }
    <p class="text-muted-foreground sm:px-8 text-center text-sm">
      Already have an account?
      <a
        class="hover:text-primary cursor-pointer underline underline-offset-4"
        routerLink="/login"
      >
        Sign in
      </a>
    </p>
  </div>
</smt-card>
